./lib/**/*.rb
--markup-provider redcarpet
--markup markdown
--charset utf-8
--protected
--private
--embed-mixins
--tag type:"type" --hide-tag type
--readme README.md
--exclude /lib/swag_dev/project/tasks/
--exclude '_flymake\\.rb$'
--exclude '/\\.#'
